{% spaceless %}
<div>

<div class="ml-3 mt-3">
    <div class="row">
        <div class="col-4">
            <label for="id_other_college_attended_1_0" class="">
                Name of College/University </label>
            <div>
                {% include widget.subwidgets.0.template_name with widget=widget.subwidgets.0 %}
            </div>
        </div>
        <div class="col-3">
            <label for="id_other_college_attended_1_0" class="">
                Attended From Month</label>
            <div>
                {% include widget.subwidgets.1.template_name with widget=widget.subwidgets.1 %}
            </div>
            <br>
            <label for="id_other_college_attended_1_0" class="">
                Attended Until Month</label>
            <div>
                {% include widget.subwidgets.3.template_name with widget=widget.subwidgets.3 %}
            </div>
        </div>
        <div class="col-3">
            
            <label for="id_other_college_attended_1_0" class="">
                Attended From Year</label>
            <div>
                {% include widget.subwidgets.2.template_name with widget=widget.subwidgets.2 %}
            </div>
            <br>
            <label for="id_other_college_attended_1_0" class="">
                Attended Until Year</label>
            <div>
                {% include widget.subwidgets.4.template_name with widget=widget.subwidgets.4 %}
            </div>
        </div>
        <div class="col-2">
            <label for="id_other_college_attended_1_0" class="">
                Did you graduate from there?</label>
            <div>
                {% include widget.subwidgets.5.template_name with widget=widget.subwidgets.5 %}
            </div>
        </div>
    </div>
</div>
</div>
{% endspaceless %}