<div class="">
    <canvas class="bg-light rounded border" id="{{widget.attrs.id}}__canvas" class=""
        width="300px" height="200px"></canvas>
    <input id="#{{widget.attrs.id}}__clear"
        class="mb-4 ml-2 btn btn-warning btn-sm btn-clear-signature" type="button"
        value="Clear Signature" />

        <input type="hidden" name="{{widget.name}}" value="" id="{{widget.attrs.id}}">
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function () {
                var canvas_ = document.querySelector("#{{widget.attrs.id}}__canvas");
                var signaturePad_ = new SignaturePad(canvas_);

                var input_ = document.querySelector("#{{widget.attrs.id}}");
                var submit = document.querySelector("input.submit");

                document.getElementById("#{{widget.attrs.id}}__clear").addEventListener("click", function () {
                    signaturePad_.clear();
                    input_.value = "";
                });

                submit.addEventListener("click", function () {
                    if (!signaturePad_.isEmpty()) {
                        input_.value = signaturePad_.toDataURL();
                    } else {
                        input_.value = "";
                    }
                }, false)
            });
        </script>
</div>